# mqtt server address and user + password of your preferred broker.
MQTT_URL=opengripboard.org
MQTT_USER=your_mqtt_user
MQTT_PASSWORD=your_mqtt_password
# WiFi SSID and password of a network close to the grip board
WIFI_SSID=your_wifi_name
WIFI_PASSWORD=your_wifi_password
# board name for the QR-Code, keep this short
BOARD_NAME=your_boardname
# 3,21,22,23 should be save, 12/13 are SD card
LOAD_CELL_DOUT_PIN = 21
LOAD_CELL_SCK_PIN = 22